@using TestData.App.UI.TestData.Models
<ul class="nav nav-right">
    <li>
        <a asp-controller="Home" asp-action="App">
            <i class="ms-Icon ms-Icon--WebAppBuilderFragment" aria-hidden="true"></i>
            <i data-icon-name="WebAppBuilderFragment" aria-hidden="true"></i>
            <span>@AppSettings.FeatureTitle</span>
        </a>
    </li>
</ul>
